{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/aPropos.css') }}">

{% endblock %}

{% block body %}
	<h1>À Propos</h1>

	<div class="bloc1">
		<div class="bloc2">
			<h2>Qui sommes nous ?</h2>
			<p>
				{{ aPropos[0].getPresentationAPropos | nl2br }}
			</p>
		</div>
		<div class="bloc2">
			<h2>Nos coordonnées</h2>
			{% set a = aPropos[0] %}
			<div class="bloc3">
				<div class="gras">{{ a.getNomEntreprise }}</div>
				<div>{{ a.getAdresse }}</div>
			</div>
			<div class="bloc4">
				<div class="bloc5">{{ a.getCodePostal }}</div>
				<div class="bloc5">{{ a.getVille }}</div>
			</div>
			<div class="bloc3">
				<div>Tel: {{ a.getTelephone }}</div>
				<div>Email: {{ a.getEmailContact }}</div>
				<div>Facebook: {{ a.getFacebook }}</div>
			</div>
		</div>
	</div>
{% endblock %}
