{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/aPropos.css') }}">
{% endblock %}

{% block title %}
	{{ SiteName }}: À propos
{% endblock %}

{% block body %}
	<h1>À Propos</h1>

	<div class="blocPrincipal">

		<div class="blocSecondaire">
			<h2>Qui sommes nous ?</h2>
			<p>{{ aPropos[0].getPresentationAPropos | nl2br }}</p>
		</div>

		{% set a = aPropos[0] %}
		<div class="blocSecondaire">
			<h2>Nos coordonnées</h2>

			<div class="bloc3">
				<div class="gras toUpper">{{ a.getNomEntreprise }}</div>
			</div>

			<div class="bloc3">
				<div>{{ a.getAdresse }}</div>
			</div>

			<div class="bloc3">
				<div>{{ a.getComplementAdresse }}</div>
			</div>

			<div class="bloc4">
				<div class="bloc5">{{ a.getCodePostal }}</div>
				<div class="bloc5 toUpper">{{ a.getVille }}</div>
			</div>

			<div class="bloc3">
				<div class="itemCoordonnes"><i class="fas fa-mobile-alt"></i> {{ a.getTelephone }}</div>
				<div class="itemCoordonnes"><i class="fas fa-mobile-alt"></i> {{ a.getTelephone2 }}</div>
				<div class="itemCoordonnes" id="email"><i class="far fa-envelope"></i> <a href="mailto:{{ a.getEmailContact }}">{{ a.getEmailContact }}</a></div>
				{% if not a.getFacebook is empty %}
					<div class="itemCoordonnes" id="fb"><i class="fab fa-facebook-f"></i> <a href="{{ a.getFacebook }}">{{ a.getFacebook }}</a></div>
				{% endif %}
				{% if not a.getAutre is empty %}
					<div class="itemCoordonnes"><i class="fas fa-info"></i> {{ a.getAutre }}</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
