{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
{% endblock %}


{% block title %}
	admin.html.twig
{% endblock %}

{% block body %}


	<h1>Administrer</h1>

	<div class="container1">
		<ul class="liste">
			<li>
				<div class="titre">Réalisations</div>
				<a class="boutonGo" href="{{ path('admin.realisation') }}" title="Ajouter, éditer, et supprimer des réalisations">Go</a>
			</li>
			<li>
				<div class="titre">Slogan accueil</div>
				<a class="boutonGo" href="{{ path('home') }}" title="Slogan d'accroche de la page d'accueil">Go</a>
			</li>
			<li>
				<div class="titre">Texte de présentation</div>
				<a class="boutonGo" href="{{ path('home') }}" title="Texte de présentation dans la page 'À propos'">Go</a>
			</li>
		</ul>
		<ul class="liste">
			<li>
				<div class="titre">Coordonnées</div>
				<a class="boutonGo" href="{{ path('home') }}" title="Coordonnées de contact, et nom de l'entreprise">Go</a>
			</li>
			<li>
				<div class="titre">Formulaire de contact</div>
				<a class="boutonGo" href="{{ path('home') }}" title="Email de retour du formulaire de contact">Go</a>
			</li>
		</ul>
	</div>
{% endblock %}
