{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
{% endblock %}


{% block title %}
	admin.html.twig
{% endblock %}

{% block body %}


    <h1>Administrer mon site</h1>
    <ul class="liste1">
		<li>
			<a class="" href="{{ path('admin.realisation') }}" title="Gérer les réalisations">Gérer les réalisations</a>
		</li>
		<li>
			<a class="" href="{{ path('home') }}" title="Slogan">Slogan</a>
		</li>
		<li>
			<a class="" href="{{ path('home') }}" title="Logo">Logo</a>
		</li>
		<li>
			<a class="" href="{{ path('home') }}" title="Infos de contact">Infos de contact</a>
		</li>
	</ul>
	


	
{% endblock %}
