{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/messagesEtAlertes.css') }}">
{% endblock %}


{% block title %}
	admin.html.twig
{% endblock %}

{% block body %}


	<h1>Administrer</h1>

	{% for message in app.flashes('succes') %}
		<div class="conteneurMessageFlash">
			<div class="messageFlash">
				{{ message }}
			</div>
		</div>
	{% endfor %}
	<div class="container0">
		<div class="container1">
			<ul class="liste">
				<li title="Slogan d'accroche de la page d'accueil">
					<div class="titre">Slogan</div>
					<a class="boutonGo" href="{{ path('home') }}">Go</a>
				</li>
				<li title="Ajouter, éditer, et supprimer des réalisations">
					<div class="titre">Gérer les réalisations</div>
					<a class="boutonGo" href="{{ path('admin.realisation') }}">Go</a>
				</li>
				<li title="Coordonnées de contact - Email de réception du formulaire - Texte de présentation de l'entreprise">
					<div class="titre">Coordonnées - À propos</div>
					<a class="boutonGo" href="{{ path('admin_apropos') }}">Go</a>
				</li>
				<li title="Mentions légales">
					<div class="titre">Mentions légales</div>
					<a class="boutonGo" href="{{ path('home') }}">Go</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
