{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/formulaireContact.css') }}">
{% endblock %}
{% block title %}
	Nous contacter
{% endblock %}

{% block body %}

	<h1>Nous contacter</h1>
	<div class="form1">
		{{ form_start(contactForm, {'attr':{'class':''}}) }}

		<div class="blocChamp">
			{{ form_row(contactForm.prenom, {'attr':{'class':'champ'}}) }}
		</div>
		<div class="blocChamp">
			{{ form_row(contactForm.nom, {'attr':{'class':'champ'}}) }}
		</div>
		<div class="blocChamp">
			{{ form_row(contactForm.tel, {'attr':{'class':'champ'}}) }}
		</div>
		<div class="blocChamp">
			{{ form_row(contactForm.email, {'attr':{'class':'champ'}}) }}
		</div>
		<div class="blocChamp">
			{{ form_row(contactForm.objet, {'attr':{'class':'champ'}}) }}
		</div>
		<div class="blocChamp2">
			{{ form_row(contactForm.message, {'attr':{'class':'champ'}}) }}
		</div>
		<div class="blocChamp">
			{{ form_row(contactForm.envoyer, {'attr':{'class':'champ'}}) }}
		</div>
		{{ form_end(contactForm) }}
	</div>
{% endblock %}
