{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/formulaireContact.css') }}">
{% endblock %}
{% block title %}
	{{ SiteName }}: Nous contacter
{% endblock %}

{% block body %}
	{{ dump(titre) }}
	<h1>Nous contacter</h1>
	<div class="container0">
		{{ form_start(contactForm, {'attr':{'class':'form1'}}) }}

		<div class="blocChamp">
			{{ form_row(contactForm.prenom, {'attr':{'class':'champ'}}) }}
		</div>
		<div class="blocChamp">
			{{ form_row(contactForm.nom, {'attr':{'class':'champ'}}) }}
		</div>
		<div class="blocChamp">
			{{ form_row(contactForm.tel, {'attr':{'class':'champ'}}) }}
		</div>
		<div class="blocChamp">
			{{ form_row(contactForm.email, {'attr':{'class':'champ'}}) }}
		</div>
		<div class="blocChamp">
			{{ form_row(contactForm.objet, {'attr':{'class':'champ', 'value':titre}}) }}
		</div>
		<div class="blocChamp2">
			{# {{ form_row(contactForm.message, {'attr':{'class':'champ'}}, {'value':'toto'}) }} #}
			{{ form_row(contactForm.message, {'value':'toto', 'attr':{'class':'champ'}}) }}
		</div>
		<div class="blocChamp">
			{{ form_row(contactForm.envoyer) }}
		</div>
		{{ form_end(contactForm) }}
	</div>
{% endblock %}
