{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/formulaireCrud.css') }}">
{% endblock %}

<div class="container-form">

	{{ form_start(form, {'attr':{'class':'form1'}}) }}
	<div class="ligne1">
		<div class="champ">
			{{ form_row(form.titre, {'attr':{'class':'titre'}}) }}
		</div>
		<div class="champ">
			{{ form_row(form.hook, {'attr':{'class':'hook'}}) }}
		</div>
	</div>


	<div class="ligne2">
		<div class="champ">
			{{ form_row(form.updated_at, {'attr':{'class':'date'}}) }}
		</div>
		<div class="champ">
			{{ form_row(form.imageFile, {'attr':{'class':'image'}}) }}
		</div>
	</div>
	<div class="champ">
		{{ form_row(form.description, {'attr':{'class':'description'}}) }}
	</div>


	<div>
		{# On vérifie si la route est "admin.realisations.edit", et on affiche les images #}
		{% if app.request.attributes.get('_route') == 'admin.realisations.edit' %}
			<h2>Images</h2>
			{% for image in realisation.images %}
				<div>
					<img src="{{ asset('/assets/uploads/imagesRealisations/' ~ image.lien) }}" alt="image" width="80">
					<a href="{{ path('admin.realisations.image.delete', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer
					</a>
				</div>
			{% endfor %}
		{% endif %}
	</div>


	<button>{{ button|default('Enregistrer') }}</button>
	{{ form_end(form) }}

</div>

