{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/adminRealisations.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/boutonsEtInputs.css') }}">
{% endblock %}


{% block title %}
admin.html.twig
{% endblock %}

{% block body %}

{# {{ dump(realisations)}} #}

<h1>Gérer les réalisations</h1>
<div class="conteneur_table">

	<table class="table_1">
		<thead>
			<tr>
				<th>Titre</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for realisation in realisations %}
			<tr>
				<td>
					{{ realisation.titre }}
				</td>
				<td>
					<a class="bleu" href="{{ path('admin.realisations.edit', {id: realisation.id}) }}"><i
							class="fas fa-edit fa-lg"></i></a>
					<a class="rouge" href="{{ path('admin.realisations.edit', {id: realisation.id}) }}"><i
							class="fas fa-trash-alt fa-lg"></i></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ path('admin.realisation.new') }}">Nouvelle réalisation</a>
</div>

{% endblock %}