{% block stylesheets %}{% endblock %}
<div id="nav" class="navbar">
	<div class="logo">
		<a title="Accueil" href="{{ path('home') }}">
			<div class="blocImagelogo">

				<div class="imageLogo">
					<img src="{{ asset('assets/images/logoTatooRouge.png') }}" alt="logo">
				</div>
			</div>
			<h1 class="logoName">{{ SiteName }}</h1>
		</a>
	</div>

	<ul id="menuId" class="menu">
		<li>
			<a class="lienMenu " href="{{ path('home') }}">
				<h5 class="icon-accueil
					{% if
						menu_courant is defined and menu_courant == 'home'
					%}
						active
					{% endif %}
					">Accueil
				</h5>
			</a>
		</li>
		<li>
			<a class="lienMenu" href="{{ path('realisations') }}">
				<h5 class="icon-realisations
					{% if
						menu_courant is defined and menu_courant == 'realisations'
					%}
						active
					{% endif %}
					">Réalisations
				</h5>
			</a>
		</li>
		
		<li>
			<a class="lienMenu" href="{{ path('contact', {id: 'testId'}) }}">
				<h5 class="icon-contact
				{% if
					menu_courant is defined and menu_courant == 'contact'
				%}
					active
				{% endif %}
				">Contact</h5>
			</a>
		</li>

		<li>
			<a class="lienMenu" href="{{ path('a_propos') }}">
				<h5 class="icon-faq
				{% if
					menu_courant is defined and menu_courant == 'a_propos'
				%}
					active
				{% endif %}
				">À propos
				</h5>
				
			</a>
		</li>

		{# S'il y a un user de connecté, on affiche le ou les liens #}
		{% if app.user %}
		<li>
			<a class="lienMenu" href="{{ path('admin') }}">
				<h5 class="icon-admin
				{% if
					menu_courant is defined and menu_courant == 'admin'
				%}
					active
				{% endif %}
				">Admin</h5>
			</a>
		</li>
		{% endif %}
	</ul>
	<div id="burger">
		<div id="burgerBarre1"></div>
		<div id="burgerBarre2"></div>
		<div id="burgerBarre3"></div>
	</div>

</div>

<div class="infosUser">
	{# S'il y a un user de connecté, on affiche son nom #}
	{% if app.user %}
	<ul>
		<li>
			<a class="lienMenu" href="{{ path('app_logout') }}">
				<h5 class="icon-deconnexion">Déconnexion</h5>
			</a>
		</li>
		<li id="userName">
			<h5 class="icon-user">{{ app.user.username }}</h5>
		</li>
	</ul>
	{% endif %}
</div>