{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/boutonsEtInputs.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/carteApercuRealisation.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/messagesEtAlertes.css') }}">
{% endblock %}

{% block title %}
	{{ SiteName }}:
	{{ slogan[0].slogan }}
	- Accueil
{% endblock %}

{% block body %}
	{# Ajsuter la position en css #}
	{% for message in app.flashes('succes') %}
		<div class="conteneurMessageFlash">
			<div class="messageFlash">
				{{ message }}
			</div>
		</div>
	{% endfor %}

	<!-- On affiche notre slogan -->
	<h1>{{ slogan[0].slogan }}</h1>

	<div
		class="container-apercuRealisations">

		{# On parcours le tableau et on affiche chaque réalisation dans une carte #}
		{% for realisation in last3Realisations %}
			<div class="apercuRealisation">
				<div class="apercuRealisation-image">
					<a href="{{ path('realisation', {id: realisation.id}) }}">

						{# ========= On affiche la première image du tableau last3Realisations ========= #}
						{# Si la clé du tableau correspondant à l'image existe, on affiche l'image #}
							{% if realisation.images[0].lien is defined %}
							<img
							src="{{ '/assets/uploads/imagesRealisations/' ~ 'min_' ~ realisation.images[0].lien }}"> {# Sinon, on affiche l'image par défaut #}
						{% else %}
							<img src="{{ '/assets/images/min_imageDefaut.jpg' }}">
						{% endif %}
					</a>
				</div>
				<div class="apercuRealisation-titre">
					<h3>{{ realisation.titre }}</h3>
				</div>
				<div class="apercuRealisation-hook">
					<h4 class="accroche">{{ realisation.hook }}</h4>
				</div>
				<div class="apercuRealisation-description">
					<p>{{ realisation.description }}</p>
					<a class="bouton1" href="{{ path('realisation', {id: realisation.id}) }}">Voir</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
