{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/realisation.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/carteRealisation.css') }}">
{% endblock %}
{% block title %}
{{ realisation.titre }}
{% endblock %}

{% block body %}
{# {{ dump(realisation) }} #}
<h1>{{ realisation.titre }}</h1>
<div class="container-realisation">
	<div class="realisation">
		<div class="realisation-image">
			<img src="/assets/images/realisations/{{ realisation.filename }}">
		</div>
		<div class="blocTextes">
			<div class="date">
				{{ realisation.updated_at |date("d-m-Y") }}
			</div>
			<div class="realisation-hook">
				<h4 class="accroche">{{ realisation.hook }}</h4>
			</div>
			<div class="realisation-description">
				<p>
					{{ realisation.description }}</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}