{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/realisation.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/carteRealisation.css') }}">
{% endblock %}
{% block title %}Réalisation
{% endblock %}
{% block body %}


	<h1>{{ realisations[0].titre }}</h1>

	<div class="container-realisation">

		<div class="realisation">

			<div class="realisation-image">
				<img src={{ realisations[0].image }}>
			</div>


			<div class="blocTextes">

				<div class="realisation-hook">
					<h4 class="accroche">{{ realisations[0].hook }}</h4>
				</div>
				<div class="realisation-description">
					<p>
						{{ realisations[0].description }}</p>
				</div>

			</div>


		</div>
	</div>

{% endblock %}
